@model UserProfileCollectionViewModel
@{
    ViewData["Title"] = "User Information";
}

<div style="height: 40px;"></div>

<div class="container well span6 w-50">
    <div class="">
        <div class="">
            <img src="~/img/User.jpg" class="img-circle" />
        </div>
        <div class="m-4">
            <h3 class="m-1">Username: @Model.Profile.Username</h3>
            <h6>First Name: @Model.Profile.FirstName</h6>
            <h6>Last Name: @Model.Profile.LastName</h6>
            <h6>E-mail: @Model.Profile.Email</h6>
            <h6>Register Date: @Model.Profile.RegisteredOn.ToLocalTime().ToShortDateString()</h6>
        </div>
        @if (Model.Profile.Username == User.Identity.Name)
        {
            <div class="container-fluid ">
                <div>
                    <a asp-area="" asp-controller="Account" asp-action="UpdateProfile" asp-route-username="@Model.Profile.Username" class="site-btn">Edit Profile</a>
                    <a asp-area="" asp-controller="Account" asp-action="ChangePassword" class="site-btn">Change Password</a>
                </div>
            </div>
            <div class="p-4">
                @if (Model.Courses.Any())
                {
                <h4 class="text-center">Followed courses</h4>
                    <div>
                        <table class="table font-weight-bold table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Course Name</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                    <th scope="col">UnFollow</th>

                                </tr>
                            </thead>
                            @foreach (var course in Model.Courses)
                            {
                                <tbody>
                                    <tr>
                                        <td><p>@course.Name</p></td>

                                        <td><p>@course.StartDate.ToLocalTime()</td>
                                        <td><p>@course.EndDate.ToLocalTime()</p></td>
                                        <td><a asp-area="Courses" asp-controller="Courses" asp-action="UnFollowCourse" asp-route-courseName="@course.Name" name="name" class="btn btn-danger">Unfollow</a></td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                }
                else
                {
                    <div class="">
                        <h3 class="text-muted">You don't have courses yet.</h3>
                    </div>
                }
            </div>


            <div>
                @if (Model.Events.Any())
                {

                    <h4 class="text-center ">Followed Events</h4>
                    <table class="table  table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Event Name</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Unfollow</th>
                            </tr>
                        </thead>
                        @{var countEvent = 1; }
                        @foreach (var userEvent in Model.Events)
                        {
                            <tbody>
                                <tr>
                                    <th scope="row">@countEvent</th>
                                    <td>@userEvent.Name</td>
                                    <td>@userEvent.StartDate.ToLocalTime()</td>
                                    <td>@userEvent.EndDate.ToLocalTime()</td>
                                    <td><a asp-area="Articles" asp-controller="Articles" asp-action="Unfollow" asp-route-eventName="@userEvent.Name" name="name" class="btn btn-danger">Unfollow</a></td>
                                </tr>
                            </tbody>
                            { countEvent++; }
                        }
                    </table>
                }
                else
                {
                    <div>
                        <h3 class="text-muted">You don't have events yet.</h3>
                    </div>
                }
            </div>
        }
    </div>
</div>
